{% extends "common.html" %}

{% block content %}
<div id="container">

<header>
<h1 id="logo"><a href="/index"><img src="static/images/logo2.png" alt="Sample Cafe"></a></h1>
</header>

<main>

<section>

<h2>About<span>お店について</span></h2>
<p class="c">当店ではワインを中心に、様々なお酒を提供しています。</p>
<p class="c">また、フードメニューもお手頃価格で提供しておりますので、ご来店ぜひお待ちしております。</p>
<table class="ta1">
<tr>
<th>営業時間</th>
<td>18:00～5:00</td>
</tr>
<tr>
<th>定休日</th>
<td>水曜</td>
</tr>
</tr>
<tr>
<th>オーナー</th>
<td>関戸涼平</td>
</tr>
</table>
<p><img src="static/images/1.jpg" alt=""></p>

</section>

</main>
{% endblock %}