{% extends "common.html" %}

{% block content %}
<div id="container">

<header>
<h1 id="logo"><a href="/index"><img src="static/images/logo.png" alt="Sample Cafe"></a></h1>
</header>

<main>

<section>

<h2>Access<span>アクセス</span></h2>
<table class="ta1">
<tr>
<th>店名</th>
<td>Sekido Bar</td>
</tr>
<tr>
<th>所在地</th>
<td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1313.9335934862636!2d135.49114674654703!3d34.72575697899991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e432308a63ad%3A0x5211f4020c0e9390!2z44CSNTMyLTAwMTIg5aSn6Ziq5bqc5aSn6Ziq5biC5reA5bed5Yy65pyo5bed5p2x77yT5LiB55uu77yX4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1727933627284!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</td>
</tr>
<tr>
<th>電話番号</th>
<td>012-3456-7890</td>
</tr>
<tr>
<th>最寄駅</th>
<td>Osaka Metro 西中島南方駅 徒歩5分</td>
</tr>
</table>

</section>

</main>
{% endblock %}