<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="SekidoBarのホームページ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="static/css/style.css">
</head>

<body class = {{ body }}>

{% block content %}
{% endblock %}

<footer>
<ul class="icon">
<li><a href="#"><img src="static/images/icon_facebook.png" alt="Facebook"></a></li>
<li><a href="#"><img src="static/images/icon_twitter.png"></a></li>
<li><a href="#"><img src="static/images/icon_instagram.png" alt="Instagram"></a></li>
<li><a href="#"><img src="static/images/icon_youtube.png" alt="YouTube"></a></li>
<li><a href="#"><img src="static/images/icon_line.png" alt="LINE"></a></li>
</ul>
<small>Copyright&copy; <a href="/index">Sample Cafe</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="/index">Home<span>ホーム</span></a></li>
<li><a href="/about">About<span>お店について</span></a></li>
<li><a href="/menu">Menu<span>メニューのご紹介</span></a></li>
<li><a href="/access">Access<span>アクセス</span></a></li>
<li><a href="/contact">Contact<span>お問い合わせ</span></a></li>
</ul>
</nav>

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="static/js/vegas.js"></script>


<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="static/js/slick.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="static/js/jquery.inview_set.js"></script>

<!--メニュー開閉用のスクリプト-->
<div id="menubar_hdr"></div>
<script src="static/js/openclose_tp.js"></script>

<!--ページの上部へ戻るボタン-->
<p class="pagetop"><a href="#">↑</a></p>


</body>
</html>
