{% extends "common.html" %}

{% block content %}

<!--スライドショー-->
<div id="mainimg"></div>

<!--スクロールを促すアイコン-->
<div class="scroll"><img src="static/images/arrow1.gif" alt=""></div>

<header>
<h1 id="logo"><a href="/index"><img src="static/images/logo2.png" alt="Sekido Bar"></a></h1>
</header>

<div id="container">

<main>

<section>

<h2>Our recommendation<span>当店のおすすめ</span></h2>

<div class="list2">
<figure class="up">
<img src="static/images/wine1.jpeg" alt="おすすめのワインA">
<figcaption>シャトー・フィジャック</figcaption>
</figure>
<div class="text">
<h4>シャトー・フィジャック　1,250yen</h4>
<ul>
<li>原産国<span>フランス</span></li>
<li>地域<span>ACサン・テミリオン</span></li>
<li>タイプ<span>赤ワイン</span></li>
<li>ヴィンテージ<span>2020</span></li>
</ul>
</div>
</div>

<div class="list2">
<figure class="up">
<img src="static/images/wine2.jpg" alt="おすすめのワインB">
<figcaption>レ・フォール・ド・ラトゥール</figcaption>
</figure>
<div class="text">
<h4>レ・フォール・ド・ラトゥール　1,500yen</h4>
<ul>
<li>原産国<span>フランス</span></li>
<li>地域<span>ACポイヤック</span></li>
<li>タイプ<span>赤ワイン</span></li>
<li>ヴィンテージ<span>2012</span></li>
</ul>
</div>
</div>

</section>

<section>

<h2>Photo's<span>写真</span></h2>

<div class="pickup">

<div class="list">
<figure><img src="static/images/sample11.jpg" alt=""></figure>
</div>

<div class="list">
<figure><img src="static/images/sample10.jpg" alt=""></figure>
</div>

<div class="list">
<figure><img src="static/images/sample3.jpg" alt=""></figure>
</div>

<div class="list">
<figure><img src="static/images/sample9.jpg" alt=""></figure>
</div>

<div class="list">
<figure><img src="static/images/sample8.jpg" alt=""></figure>
</div>

<div class="list">
<figure><img src="static/images/sample7.jpg" alt=""></figure>
</div>

</div>
<!--/.pickup-->

</section>

<section>

<h2>What's New<span>お知らせ</span></h2>

<dl id="new">
<dt>2024/10/01</dt>
<dd>2024/10/15（火）臨時休業</dd>
<dt>2024/10/01</dt>
<dd>バーテンダー募集中</dd>
<dt>2024/10/01</dt>
<dd>オープンセール開催（2024/10/31まで）</dd>
</dl>

</section>

</main>

{% endblock %}