{% extends "common.html" %}

{% block content %}
<div id="container">

<header>
<h1 id="logo"><a href="/index"><img src="static/images/logo.png" alt="Sample Cafe"></a></h1>
</header>

<main>

<section>

<h2>Alcohol Menu<span>アルコールメニュー</span></h2>

<dl class="textmenu up">
<dt>赤ワイン</dt>
<dd>1,000yen</dd>
<dt>白ワイン</dt>
<dd>1,000yen</dd>
<dt>ビール</dt>
<dd>1,000yen</dd>
<dt>カクテル</dt>
<dd>1,000yen</dd>
<dt>梅酒</dt>
<dd>1,000yen</dd>
<dt>ハイボール</dt>
<dd>1,000yen</dd>
<dt>焼酎</dt>
<dd>1,000yen</dd>
</dl>

</section>

<section>

<h2>Hood Menu<span>フードメニュー</span></h2>

<div class="list-container up">

<div class="list">
<figure><img src="static/images/beaf.jpg" alt=""></figure>
<h4>ローストビーフ</h4>
<p>1,000yen</p>
</div>

<div class="list">
<figure><img src="static/images/edamame.jpg" alt=""></figure>
<h4>枝豆</h4>
<p>1,000yen</p>
</div>

<div class="list">
<figure><img src="static/images/poteto.jpg" alt=""></figure>
<h4>ポテトチップス</h4>
<p>1,000yen</p>
</div>

<div class="list">
<figure><img src="static/images/nankotu.jpg" alt=""></figure>
<h4>軟骨の唐揚げ</h4>
<p>1,000yen</p>
</div>

<div class="list">
<figure><img src="static/images/steak.jpg" alt=""></figure>
<h4>サイコロステーキ</h4>
<p>1,000yen</p>
</div>

<div class="list">
<figure><img src="static/images/ice.jpg" alt=""></figure>
<h4>バニラアイス</h4>
<p>1,000yen</p>
</div>

</div>
<!--/.list-container-->

</section>

</main>
{% endblock %}
